@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --color-primary: #4502C7;
}

* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

body {
  margin: 0;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
}

.container {
  width: 1184px;
  margin-left: auto;
  margin-right: auto;
}

.box-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  color: var(--color-primary);
  margin-bottom: 30px;
  text-align: center;
}

.top-header {
  background-color: var(--color-primary);
  padding: 10px 0;
}

.top-header .inner-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.top-header .inner-item {
  color: #FFFBEB;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-header .inner-item i {
  font-size: 20px;
}

/* Responsive 

 */

/* Header  */
.header {
  background-color: #F7F7F7;
  padding: 12px 0;
}

.header .inner-wrap {
  display: flex;
  align-items: center;
  /* Các phần tử con sẽ nằm giữa theo chiều cao */
  justify-content: space-between;
  /* 
  Item đầu sát bên trái
  Item cuối sát bên phải
  Các item ở giữa (nếu có) sẽ giãn đều khoảng cách
   */
}

.header .inner-logo img {
  width: 218px;
  height: auto;
}

.header .inner-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.header .inner-menu > ul > li {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.header .inner-menu > ul > li > a {
  font-weight: 500;
  font-size: 16px;
  color: #25282B;
}

.header .inner-menu ul > li > a.active,  .header .inner-menu ul > li > a:hover{
  color: var(--color-primary);
}

.header .inner-menu > ul > li > i {
  color: #25282B;
  font-size: 16px;
}

.header .inner-menu > ul > li > ul {
  border-radius: 0 0 10px 10px;
  margin: 0;
  list-style: none;
  background-color: white;
  position: absolute;
  top: 100%;
  display: none;
}
.header .inner-menu > ul > li:hover > ul {
  display: block;
}
.header .inner-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header .inner-cart .inner-icon-cart {
  width: 28px;
  height: auto;
}

.header .inner-cart span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 14px;
  background-color: red;
  font-weight: 400;
  font-size: 10px;
  color: white;
  border-radius: 3px;
  position: relative;
}

.header .inner-cart .inner-icon-arrow {
  width: 6px;
  position: absolute;
  top: 4px;
  left: -5px;
}

.header .inner-button-menu {
  display: none;
}

/* Section 1 */
.section-1 {
  background-image: url(../images/background-1.png);
  background-size: cover;
  background-position: center;
  padding: 106px 0;
}

.section-1 .inner-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--color-primary);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}

.section-1 .inner-desc {
  font-weight: 400;
  font-size: 16px;
  margin: 0 20px;
  text-align: center;
  color: black;
}

.section-1 .inner-form {
  background-color: #00000066;
  border-radius: 10px;
  padding: 40px;
  display: grid;
  grid-template-columns: 258fr 258fr 126fr;
  gap: 24px 22px;
}

.section-1 .inner-form .inner-address{
  grid-column: span 3;
}

.section-1 .inner-form .inner-input-group {
  border-radius: 10px;
  background-color: white;
  height: 58px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.section-1 .inner-form .inner-input-group .inner-icon {
  height: 21px;
  width: auto;
}

.section-1 .inner-form .inner-input-group .inner-input {
  flex: 1;
  border: 0;
  font-weight: 400;
  font-size: 14px;
}

.section-1 .inner-form .inner-input-group .inner-down {
  font-size: 10px;
  color: var(--color-primary);
}
.section-1 .inner-form  .inner-button {
  background-color: var(--color-primary);
  color: white;
  height: 58px; 
  border: 0;
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center ;
}


/* Section 2 */
.section-2 {
  padding: 60px 0;
}  

.section-2 .inner-wrap {
  padding: 32px 27px 32px 23px;
  background-color: var(--color-primary);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  gap: 32px;
}

.section-2 .inner-info {
  text-align: center;
  width: 22%;
}

.section-2 .inner-list {
  /* width: calc(78% - 32px); */
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-2 .inner-info .inner-title {
  color: white;
  margin-top: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
}

.section-2 .inner-info .inner-desc {
  color: white;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 36px;
}

.section-2 .inner-info .inner-clock-title {
  color: white;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 17px;
}

.section-2 .inner-info .inner-clock-number {
  display: flex;
  gap: 17px;
  justify-content: center;
  margin-bottom: 47px;
}

.section-2 .inner-info .inner-clock-number div {
  width: 57px;
  height: 57px;
  background-color: white;
  color: var(--color-primary);
  border-radius: 10px;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 .inner-info .inner-discount-title {
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.section-2 .inner-info .inner-discount-price {
  color: yellow;
  font-weight: 700;
  font-size: 40px;
}

.section-2 .inner-info .inner-discount-price .inner-unit {
  text-decoration: underline ;
}

.product-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2.38px 2.38px 0px #00000040;
  overflow: hidden;
}

.product-item .inner-image img {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 271/237;
  object-fit: cover;
}

.product-item .inner-discount {
  background-color: red;
  border-radius: 0 32px 32px 0;
  display: flex;
  gap: 6px;
  padding: 4px 15px 4px 6px;
  color: white;
  align-items: center;
  font-weight: 700;
  font-size: 11px;
  margin-top: -15px;
  position: relative;
  width: 108px;
}

.product-item .inner-discount i {
  color: yellow;
}

.product-item .inner-content {
  padding: 16px;
}

.product-item .inner-content .inner-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  display: -webkit-box; 
  /* Kích hoạt webkit flexbox - giới hạn số dòng hiển thị  */
  -webkit-line-clamp: 2;
  /* Giới hạn tối đa 2 dòng, nếu text dài hơn -> bị cắt */
  -webkit-box-orient: vertical;
  /* Xếp các box theo chiều dọc, nếu thiếu thì line clamp ko tác dụng */
  overflow: hidden;
  /* Ẩn phần nội dung vượt quá 2 dòng */
  height: 36px;
  /* Bắt buộc xuống dòng (trong trường hợp text quá dài mà ko có dấu cách :
  word-break: break-word;
  overflow-wrap: anywhere; */
}

.product-item .inner-content .inner-title h3 {
  color: black;
}
 
.product-item .inner-content .inner-price {
  display: flex;
  margin-bottom: 10px;
  gap: 5px 11px;
}

.product-item .inner-content .inner-old-price {
  color: #52575C;
  font-weight: 600;
  font-size: 15px;
  text-decoration: line-through;
}

.product-item .inner-content .inner-new-price {
  font-weight: 700;
  font-size: 14px;
  color: red;
}

.product-item .inner-content .inner-unit {
  text-decoration: underline;
}

.product-item .inner-content .inner-desc {
  display: flex;
  /* Sắp xếp các item theo chiều ngang */
  flex-direction: column; 
  gap: 4px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 11px;
  color: #8C8C8C;
}

.product-item .inner-content .inner-meta {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.product-item .inner-content .inner-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-item .inner-content .inner-rating .inner-stars {
  display: flex;
  gap: 2px;
  font-size: 14px;
  color: #FFD600;
}

.product-item .inner-content .inner-rating .inner-number {
  font-weight: 400;
  font-size: 11px;
  color: #8C8C8C;
}

.product-item .inner-content .inner-stock {
  display: flex;
  align-items: center;
  gap: 7px;
}
.product-item .inner-content .inner-stock .inner-label {
  font-weight: 700;
  font-size: 11px;
  color: #25282B;
}

.product-item .inner-content .inner-stock .inner-stock-number {
  background-color: red;
  width: 33px;
  height: 32px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 3 */
.section-3 {
  padding-bottom: 60px;
}

.section-3 .inner-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-3 .inner-wrap img {
  width: 100%;
  aspect-ratio: 382/269;
  object-fit: cover;
  border-radius: 10px;
}

/* Section 4 */
.section-4 {
  padding-bottom: 60px;
}

.section-4 .inner-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section-4 .inner-button {
  text-align: center;
  margin-top: 30px;
}

.button-preview {
  border: 2px solid #4502C7;
  border-radius: 7px;
  font-weight: 500px;
  font-size: 16px;
  color: var(--color-primary);
  background-color: white;
  display: inline-block;
  padding: 14px 32px;
}

.button-preview:hover {
  color: white;
  background-color: var(--color-primary);
}

/* Section 5 */
.section-5 {
  padding-bottom: 60px;
}

.section-5 .inner-image img {
  width: 100%;
  height: auto;
}

.section-7 {
  padding-bottom: 60px;
}

.section-7 .inner-image img {
  width: 100%;
  height: auto;
}

.section-8 {
  padding-bottom: 60px;
}

.section-8 .inner-wrap {
  display: grid;
  grid-template-columns: 302fr 536fr 302fr;
  gap: 20px;
}

.section-8 .blog-item-2 {
  grid-row: span 2;
}

.blog-item-1 {
  aspect-ratio: 302/308;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.blog-item-1 .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-item-1 .inner-content {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(69, 2, 199, 0) 58.85%, rgba(69, 2, 199, 0.9) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 18px 24px;
}

.blog-item-1 .inner-content .inner-date {
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.blog-item-1 .inner-content .inner-title {
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
  font-weight: 400;
  font-size: 18px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; 
}

.blog-item-2 {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px #00000040;
}

.blog-item-2 .inner-image img {
  width: 100%;
  aspect-ratio: 536/400;
  object-fit: contain;
}

.blog-item-2 .inner-content {
  padding: 16px 24px;
}

.blog-item-2 .inner-content .inner-date {
  font-weight: 300;
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}

.blog-item-2 .inner-content .inner-title {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-item-2 .inner-content .inner-desc {
  font-weight: 300;
  font-size: 14px;
  color: black;
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Footer */
.footer {
  background-color: #ECECEC;
  border-radius: 40px 40px 0 0;
  padding: 60px 0 40px 0;
}

.footer .inner-top {
  background-color: var(--color-primary);
  border-radius: 16px;
  padding: 32px;
  display: grid;
  align-items: center;
  grid-template-columns: 389fr 707fr;
  gap: 24px;
  margin-bottom: 40px;
}

.footer .inner-top .inner-title {
  font-weight: 700;
  font-size: 20px;
  color: #FDFDFD;
  text-transform: capitalize;
}

.footer .inner-top .inner-form {
  background-color: white;
  border-radius: 14px;
  padding: 12px;
  display: flex;
  gap: 12px;
}

.footer .inner-top .inner-form input {
  flex: 1;
  height: 48px;
  border: 1px solid #99A2A5;
  border-radius: 8px;
  padding: 0 28px;
  font-weight: 500;
  font-size: 14px;
}

.footer .inner-top .inner-form input::placeholder {
  color: #99A2A5;
}

.footer .inner-top .inner-form button {
  height: 48px;
  padding: 0 23.5px;
  background-color: var(--color-primary);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #FDFDFD;
}

.footer .inner-middle {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .inner-middle .inner-links {
  display: flex;
  gap: 40px;
}

.footer .inner-middle .inner-links a {
  font-weight: 500;
  font-size: 14px;
  color: #25282B;
}

.footer .inner-middle .inner-links a:hover {
  color: var(--color-primary);
}

.footer .inner-middle .inner-socials {
  display: flex;
  gap: 40px;
}

.footer .inner-middle .inner-socials a {
  font-size: 24px;
  color: #25282B;
}

.footer .inner-middle .inner-socials a:hover {
  color: var(--color-primary);
}

.footer .inner-bottom {
  border-top: 1px solid #CCD1D2;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.footer .inner-bottom .inner-logo img {
  width: 224px;
  height: auto;
}

.footer .inner-bottom .inner-copyright,
.footer .inner-bottom .inner-links {
  flex: 1;
}

.footer .inner-bottom .inner-copyright {
  font-weight: 500;
  font-size: 13px;
  color: #667479;
}

.footer .inner-bottom .inner-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.footer .inner-bottom .inner-links a {
  font-weight: 500;
  font-size: 13px;
  color: #667479;
}

.footer .inner-bottom .inner-links a:hover {
  color: var(--color-primary);
}
 
 


























